<!-- DEMO_USER  / fichier: views/index.ejs -->
<!-- (DASHBOARD - retour acceuil --------- -->

<!-- dans body: PAGE rendu par le routeur clientRoutes, fonction homepage: (home) -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <!-- lien: add user -->
      <a href="<%= urlSoumettreAddUser %>" class="btn btn-sm btn-outline-secondary">+ ADD USER</a>
    </div>
  </div>
</div>

<!-- SI tableau existe: tabMessages -->
<% if(locals.tabMessages && locals.tabMessages.length) { %>
  <!-- BOUCLE sur le tableau des messages tabMessages -->
  <% tabMessages.forEach(itemMessage => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= itemMessage %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %> 
<% } %>

<!-- div (1) grande div table responsive -->
<div class="table-responsive">
  <!-- tableau -->
  <table class="table table-striped table-sm">
    <!-- entête colonne tableau -->
    <thead>
      <tr>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">PSEUDO</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ID</th>
        <th scope="col" class="text-end">ACTION</th>
      </tr>
    </thead>
    <!-- lignes du tableau -->
    <tbody>
      <!-- BOUCLE lignes du tableau --------------------------------------------------------- -->
      <% tabUsers.forEach(itemUser => { %>
        <tr class="align-middle">
          <!-- 3 premières colonnes  -->
          <td><%= itemUser.NOM %></td>
          <td><%= itemUser.PRENOM %></td>
          <td><%= itemUser.PSEUDO %></td>
          <td><%= itemUser.EMAIL %></td>
          <td><%= itemUser.UID %></td>

          <!-- td colonne ACTION -->
          <td class="text-end">
            <div class="d-flex flex-row justify-content-end gap-2">
              <!-- action lien 1: Vue (Affichage d un client par son ID) -->
              <a href="<%= urlActionView %><%= itemUser.UID %>" type="button" class="btn btn-primary btn-small">
                <i class="bi bi-eye"></i>
              </a>
              <!-- action lien 2: Edit (Modifier un client par son ID) -->
              <a href="<%= urlActionEdit %><%= itemUser.UID %>" type="button" class="btn btn-warning btn-small">
                <i class="bi bi-pencil"></i>
              </a>
  
            </div>
          </td>
        </tr>
      <% }) %>
      <!-- FIN BOUCLE lignes du tableau ----------------------------------------------------- -->
    </tbody>
  </table>
</div>


<!-- SYSTEME de PAGINATION .DEBUT 1 2 3 4 FIN>>  -->
<% if(locals.tabUsers && locals.tabUsers.length) { %>
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <!-- <<DEBUT (PREMIER) -->
      <% if (current == 1) { %>
        <li class="page-item disabled"><a href="#" class="page-link">.DEBUT</a></li>
      <% } else { %>
        <li class="page-item"><a href="/demo-user/user/?page=1" class="page-link">.DEBUT</a></li>
      <% } %>
      <!-- PAGES -->
      <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
      <% if(i !== 1) { %>
        <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
      <% } %>
      <!-- BOUCLE: 1  2  3  4 -->  
      <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
        <% if (i == current) { %>
          <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
        <% } else { %>
          <li class="page-item"><a href="/demo-user/user/?page=<%= i %>" class="page-link"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
      <% } %>

      <!-- FIN>> (DERNIER) -->
      <% if (current == pages) { %>
        <li class="page-item disabled"><a href="#" class="page-link">FIN>></a></li>
      <% } else { %>
        <li class="page-item"><a href="/demo-user/user/?page=<%= pages %>" class="page-link">FIN>></a></li>
      <% } %>

    </ul>
  </nav>
<% } %>
