<!-- DEMO_USER (AS400 CRUD) / fichier: views/user/auth.ejs -->
<!-- (FORMULAIRE AUTHENTIFICATION USER) ------------------ -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">User (?)</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<!-- une nav avec lien sur index et un titre -->
<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- lien: index user: '/user/' -->
          <li class="breadcrumb-item">
            <a href="<%= urlIndex %>">Dashboard</a>
          </li>
          <li class="breadcrumb-item active">AUTHENTIFICATION USER (CONNEXION)</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>UserId</b>
    </div>
  </div>
</div>

<!-- MESSGE D 'ERREURS (catch) -->
<!-- SI objet tabDesErreurs : alert-danger messages -->
<% if(tabDesErreurs != '') { %>
  <div class="col-12 alert alert-danger" role="alert">
    <%= tabDesErreurs[0] %>
  </div>
<% } %>

<!-- FORMULAIRE DE AUTHENTIFICATION USER: POST avec '/auth' => pour connexion user -->
<form action="<%= urlActionAuth %>" method="POST" name="formAuthentification">
    <!-- Documentation -->
    <!-- https://freefrontend.com/bootstrap-login-forms/  -->
    <!-- https://bbbootstrap.com/snippets/bootstrap-5-validation-login-form-using-vue-js-55312173  -->
    <!---->
    <!-- IPADRR adresse ip du client caché -->
    <input type="hidden" id="IPADRR" name="IPADRR" value="<%= r_user.IPADRR %>">    

    <div class="container mt-5">
      <div class="row d-flex justify-content-center">
          <div class="col-md-6">
              <div class="card px-5 py-5" id="form1">
                  <div class="form-data">

                      <div class="forms-inputs mb-4"> 
                        <!-- email -->
                        <label for="email">Email</label>
                        <input type="text" class="form-control"
                               id="EMAIL" name="EMAIL" value="<%= r_user.EMAIL %>" placeholder="Email" required>
                               <p style="color: red;"><%=(locals.tabDesZones[0]==='O')? 'erreur':''%></p>
                      </div>
                      <div class="forms-inputs mb-4"> 
                        <!-- passe              -->
                        <label for="passe">Passe</label>
                        <input type="text" class="form-control"
                               id="PASSE" name="PASSE" value="<%= r_user.PASSE %>" placeholder="Passe..." required
                               onKeyUp="validatepasse()">
                               <p style="color: red;"><%=(locals.tabDesZones[1]==='O')? 'erreur':''%></p>
                               <span id="msgp"></span>                                                                                       
                      </div>

                      <!-- BOUTON -->
                      <!-- BOUTON LOGIN  type (submit ou button) -->
                      <!-- ici je passe en bouton -->
                      <!-- le submit se passe dans: public/js/script.js  fonction: validateFormAuthentification() -->
                      <div class="mb-3">                       
                        <button type="button" class="btn btn-dark w-100" onClick="validateFormAuthentification()">LOGIN</button>  
                        <span id="msgp2" style="color: red;"></span>                             
                      </div>
                  </div>                    
              </div>
          </div>
      </div>
  </div>

</form>
