<!-- DEMO_USER / fichier: views/user/view.ejs -->
<!-- (PAGE VISU USER) ----------------------- -->
<!-- Résume: -->
<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">  
  <h1 class="h2">Consultation: <%= r_user.NOM %> <%= r_user.PRENOM %></h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>
<!-- BLOC haut -->
<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <!-- lien retour Acceuil  + nom prénom -->
          <li class="breadcrumb-item"><a href="<%= urlIndex %>">Dashboard</a></li>
          <li class="breadcrumb-item active"><%= r_user.NOM %> <%= r_user.PRENOM %></li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">    
      <b>Dernière mise à jour: <b class="fw-bold"><%= derniereMAJour %></b>  </b>
      <b>ID user:</b> <b class="fw-bold"><%= r_user.UID %></b>
    </div>
  </div>
</div>

<!-- PRESENTATION AFFICHAGE du USER ---------------------------------------------- -->
<ul class="list-group">
  <!-- li: nom + prenom -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Nom Prénom:</b></div>
      <div class="col"><%= r_user.NOM %> <%= r_user.PRENOM %></div>
    </div>
  </li>
    <!-- li: pseudo -->
    <li class="list-group-item"> 
      <div class="row">
        <div class="col" style="max-width: 140px"> <b>Pseudo:</b></div>
        <div class="col"><%= r_user.PSEUDO %></div>
      </div>
    </li>
  <!-- li: telephone -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Téléphone:</b></div>
      <div class="col"><%= r_user.TELEPHONE %></div>
    </div>
  </li>
  <!-- li: email + passe -->
  <li class="list-group-item"> 
    <div class="row">
      <div class="col" style="max-width: 140px"> <b>Email passe:</b></div>
      <div class="col"><%= r_user.EMAIL %> <%= r_user.PASSE %></div>
    </div>
  </li>  
  <!-- li: detail en textarea-->
  <li class="list-group-item"> 
    <div class="form-group mb-4">
      <label for="detail">Détail</label>
      <textarea class="form-control" cols="30" rows="3" disabled
                id="DETAIL" name="DETAIL" placeholder="User détail..."><%= r_user.DETAIL %></textarea>
  </div>
  </li>

</ul>